/*COLORS*/
$color-background: #191919;
$white:            #ffffff;
$black:            #000000;

$grey-10:          #212121;
$grey-15:          #262626;
$grey-40:          #656567;
$grey-20:          #333333;
$grey-60:          #98989A;
$grey-90:          #e6e6e6;

$green-50:         #9eff00;
$green-80:         #d8ff99;
$green-99:         #fdfffa;

$z-index-sidebar:       1000;
$height-header:        10rem;
$width-container:    16.2rem;

$btn-border-radius:   0.8rem;

$blur:                0.5rem;

