/*COLORS*/
$color-background: #191919;
$white:            #ffffff;
$black:            #000000;
$grey-10:          #212121;
$grey-15:          #262626;
$green-50:         #9eff00;

$z-index-sidebar: 1000;
$height-header: 10rem;
$width-container: 16.2rem;

$btn-border-radius: 0.8rem;