.list-ask-questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.list-ask-questions-card {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border: .15rem solid $grey-15;
    padding: 3rem 5rem;

    &-wrapper {
        padding: 2rem;
        align-self: senter;
        background: linear-gradient(#242424, transparent);
        border-radius: 1.2rem;
    }
    
    &__number {
        color: $white;
        font-size: 2.8rem;
        font-weight: 600;
    }
}