.btn {
  padding: 1.6rem 2.4rem;

  border: 0;
  border-radius: $btn-border-radius;

  font-weight: 500;
  font-size: 18px;
  color: $grey-15;

  white-space: nowrap;

  &--contact-us {
    background: $green-50;
  }
}