.btn {
  padding: 1.6rem 2.4rem;

  border: 0;
  border-radius: $btn-border-radius;

  font-weight: 500;
  font-size: 1.8rem;
  color: $grey-15;

  white-space: nowrap;

  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
    scale: 1.05;
  }

  &--contact-us {
    background: $green-50;
    color: $grey-15
  }

  &--our-works {
    color: $white;
    background: #242424;
    border: 1px solid $grey-20;
  }

  &--learn-more {
    color: $white;
    background-color: $grey-15;
    border-radius: $btn-border-radius;

    &--location {
    margin-top: auto;
    width: 100%;
    }
  }

  &--open-website {
    color: $white;
    background-color: $grey-15;

    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: $btn-border-radius;
  }

  &--form {
    background: $green-50;
    color: $grey-10;
    font-weight: 500;

    &-location {
        display: block;
        margin-inline: auto;
        margin-top: 5rem;
    }
  }

  &--submit {
    background: $green-50;
    color: $grey-10;
    font-weight: 500;
    scale: 1.2;

    &-location {
      display: block;
      margin-inline: auto;
      margin-top: 5rem;
    }
  }

}