.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0;
  margin: 0 0;

  &__item {
    padding: 1.4rem 3rem;
    transition: 0.2s all linear;
    border-radius: $btn-border-radius;

    &:hover {
      background-color: $grey-15;
    }
    &__link {
      font-size: 18px;
      font-weight: 500;
    }
  }
}