.our-service-section {
  display: flex;
  flex-direction: column;
}



.describe--wrapper {
  background-image: url(".././images/bg-our-service.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12rem 0;


  &__title {
    font-family: inherit;
    font-size: 4.8rem;
    font-weight: 600;
    text-align: center;
  }

  &__description {
    font-family: inherit;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    margin-top: 1.4rem;
    color: $grey-90;
    margin: 3rem;
  }


}


.our-service--items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.our-service-card {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  border: 0.15rem solid $grey-15;
  padding: 5rem;
}

.our-service-card-content {
  &__icon {
    padding: 2.4rem;
    border-radius: 1rem;
    background: linear-gradient(#242424, transparent);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(#9eff00, 1), transparent);
    }
  }

  &__title {
    display: inline-block;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;

    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__descrition {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $grey-90;
    letter-spacing: -0.6%;
    margin: 0;
  }
}
