.exp-describe-section{
    border: 1px solid $grey-15;
}

.exp-describe {
    &__wrapper {
        padding-block: 12rem 8rem;
        padding-inline: 5rem;
        border: 1px solid $grey-15;
    }

    &__title {
        font-size: 4.8rem;
        font-weight: 600;
    }

    &__description {
        font-size: 1.8rem;
        font-weight: 400;
        color: $grey-90;
        margin-top: 1.4rem;
        margin-bottom: 5rem;
        max-width: 80%;
    }

    &__include {
        font-size: 2.2rem;
        font-weight: 400;
        padding: 1.2rem 1.4rem;
        background-color: $grey-15;
        border-radius: 8px;
    }

}

