<footer class="footer">
  <div class="footer-info">

    <div class="logo">
      <img src="assets/images/logo.svg" alt="logo" class="logo">
      <div class="logo__name">SquareUp</div>
    </div>

    <ul class="nav">
      <li class="nav__item">
        <a href="#" class="nav__item__link">
        Home
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">
        Services
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">
        Work
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">
        Process
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">
        About
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__item__link">
        Careers
        </a>
      </li>
    </ul>

    <div class="socials">
      <span class="socials-name">Stay connected</span>
      <div class="socials-wrapper">
        <a href="#" class="social-item"><img src=".././assets/images/socials/facebook.png" alt="facebook"></a>
        <a href="#" class="social-item"><img src=".././assets/images/socials/twitter.png" alt="twitter"></a>
        <a href="#" class="social-item"><img src=".././assets/images/socials/in.png" alt="in"></a>
      </div>
    </div>
  </div>

    <div class="separator"></div>

  <div class="footer-contacts">
    <div class="footer-contacts-wrapper">

      <div class="footer-contacts-wrapper__item">
        <img src=".././assets/images/contacts/email.png" alt="email" class="footer-contacts-wrapper__item__img">
        <div class="footer-contacts-wrapper__item__text">hello@squareup.com</div>
      </div>

      <div class="footer-contacts-wrapper__item">
        <img src=".././assets/images/contacts/number.png" alt="phone" class="footer-contacts-wrapper__item__img">
        <div class="footer-contacts-wrapper__item__text">+91 91813 23 2309</div>
      </div>

      <div class="footer-contacts-wrapper__item">
        <img src=".././assets/images/contacts/geo.png" alt="geo" class="footer-contacts-wrapper__item__img">
        <div class="footer-contacts-wrapper__item__text">Somewhere in the World</div>
      </div>

    </div>
    <div class="footer-contacts-text">© 2023 SquareUp. All rights reserved.</div>
  </div>

</footer>
